.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.star-rating > span:before {
  content: '\2605';
  position: absolute;
}